<div class="col-xs-12 col-sm-12	col-md-12 col-lg-12">{{msg}}</div>

<div class="row">
	<div class="col-xs-12 col-sm-12	col-md-2 col-lg-2 mainFunction">
		<button type="button" class="btn btn-default" ng-click="shuffle()">Shuffle</button>
	  	<button type="button" class="btn btn-default" ng-click="sort()">Sort</button>
	</div>
	<div class="col-xs-12 col-sm-12	col-md-2 col-lg-2 mainFunction">
		<div class="input-group">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button" ng-click="draw()">Draw:</button>
	      </span>
	      <input type="text" class="form-control" ng-model="drawCardsNumber" placeholder="number of cards..">
	    </div><!-- /input-group -->
	</div>
</div>

<div class="row">
	<hr>
</div>
<div class="col-xs-12 col-sm-12	col-md-12 col-lg-12">Cards deck:</div>
<div class="hand" ng-click="isShowedCardsDeck ? isShowedCardsDeck=false : isShowedCardsDeck=true">
	<div ng-repeat="card in allCards" class="card" ng-class="{suitdiamonds: card.sign == 'diamonds' ,suithearts: card.sign == 'hearts', suitclubs: card.sign == 'clubs', suitspades: card.sign == 'spades', showAll: isShowedCardsDeck }">
		<p ng-if="card.value != 11">{{card.value}}</p>
		<p ng-if="card.value == 11">A</p>
	</div>
</div>

<hr>
<div class="col-xs-12 col-sm-12	col-md-12 col-lg-12">My cards:</div>
<div class="hand" ng-click="areShowedMyCards ? areShowedMyCards=false : areShowedMyCards=true">
	<div ng-if="myCards.length > 0" ng-repeat="card in myCards" class="card" ng-class="{suitdiamonds: card.sign == 'diamonds' ,suithearts: card.sign == 'hearts', suitclubs: card.sign == 'clubs', suitspades: card.sign == 'spades', showAll: areShowedMyCards && $index != 0 }">
		<p ng-if="card.value != 11">{{card.value}}</p>
		<p ng-if="card.value == 11">A</p>
	</div>
</div>
